@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

/* Start Scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fefefe;
}

::-webkit-scrollbar-thumb {
  background-color: #1d1a73;
}

::-webkit-scrollbar-corner {
  background-color: #1d1a73;
}

.page-transition {
  opacity: 0;
  background: #fefefe;
  transform: translateY(40px);
  filter: blur(12px);
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  overflow: hidden;
}

.ground-trans {
  background: linear-gradient(
    0deg,
    rgba(254, 254, 254, 1) 0%,
    rgba(254, 254, 254, 0) 100%
  );
}

.iconInModel::after {
  content: " ";
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 0.5px;
  background-color: rgb(35, 34, 40);
}

.iconInModel::before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(35, 34, 40);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

input,
select {
  @apply w-full min-w-[300px] outline-none bg-mainColor border-whiteColor border-2 text-black font-medium duration-700 p-2 rounded-tl-xl rounded-br-xl focus:border-2 focus:border-green-500;
}

textarea {
  @apply w-full h-[150px] outline-none bg-mainColor border-whiteColor border-2 text-black font-medium duration-700 p-2 rounded-tl-xl rounded-br-xl focus:border-2 focus:border-green-500;
}

.btnForm {
  @apply w-[300px] bg-whiteColor text-mainColor my-6 text-lg text-center font-medium p-2 rounded-tl-xl rounded-br-xl duration-700 hover:bg-green-400;
}


.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.leaflet-control-zoom {
  bottom: -10px;
  left: 10px;
}

.leaflet-bottom {
  display: none;
}
