@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    display: none !important;
}

form {
    @apply w-full flex flex-col items-center justify-center py-8
}

form .fRow {
    @apply w-full flex flex-wrap items-center justify-center
}

form .fRow div {
    @apply flex items-start flex-col justify-center m-3
}

label {
    @apply font-semibold text-lg text-whiteColor mb-2
}

input,
select {
    @apply w-[300px] outline-none bg-mainColor border-whiteColor border-2 text-black font-medium duration-700 p-2 rounded-tl-xl rounded-br-xl focus:border-2 focus:border-green-500
}

textarea {
        @apply w-full h-[150px] outline-none bg-mainColor border-whiteColor border-2 text-black font-medium duration-700 p-2 rounded-tl-xl rounded-br-xl focus:border-2 focus:border-green-500

}

.btnForm {
    @apply w-[300px] bg-whiteColor text-mainColor my-6 text-lg text-center font-medium p-2 rounded-tl-xl rounded-br-xl duration-700 hover:bg-green-400
}

.btnDelete {
    @apply w-[300px] bg-red-500 text-mainColor my-6 text-lg text-center font-medium p-2 rounded-tl-xl rounded-br-xl duration-700 hover:bg-red-600
}

td,
th {
    padding: 8px;
    text-align: start;
}

table thead {
    background-color: #1d1a73;
    color: #FFF7FC;
}

.sectionsAr {
    direction: rtl;
}